<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Hunter | Ghost Artemis
    </title>
    <link rel="stylesheet" href="{% static "all/hunter.css" %}">
</head>
<body>
    <header>
        <nav>
            <ul class="navlinks">
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Malware Scanner</a></li>
                <li><a href="#">Privacy Tracker</a></li>
                <li><a href="#">Hunter</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!--
            <span class="navbar-toggle">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
            -->
        </nav>
    </header>
    <main>
        {% block body_block %}
        {% endblock %}
    </main>
</body>
</html>
