{% extends "hunter/base.html" %}

{% block body_block %}
<div class="main-wrapper">
    <h1>What is a SIEM?</h1>
    <div class="article-align">
        <article>
            A Security Information and Event Management (SIEM) solutions enable an 
            organisation to have a view of their network and collect data across 
            their network. This helps them to provide real time analysis of any 
            activity that might lead to a potential risk to the organisation.
            SIEM technology has been in existence for more than a decade, initially 
            evolving from the log management discipline. It combined security 
            event management (SEM) – which analyzes log and event data in real time 
            to provide threat monitoring, event correlation and incident response 
            – with security information management (SIM) which collects, analyzes 
            and reports on log data. 
       </article>
    <h1>What is Hunter?</h1>
    <div class="article-align">
        <article>
            Hunter is a Security Information and and Event Management (SIEM) tool 
            which helps network admins to detect, respond and report to threats on networks 
            and deliver a comprehensive security analysis. You get an integrated platform 
            for your security operations center (SOC) which better aligns your technology and team.
            Hunter will help your team be ready for all the threats coming your way.
        </article>
        <p>Features</p>
        <ul>
            <li>Log aggregation</li>
            <li>Real time data</li>
            <li>Incident Investigation</li>
            <li>User Management</li>
            <li>Automation of Incident responses</li>
        </ul>
    </div>
</div>

{% endblock %}
