{% extends 'frontpage/base.html' %}

{% block content %}
        <div class="col-lg-10 mx-auto">
          <h3>About</h3>
          <div class="alert alert-info" role="alert">
            Ghost Artemis is a socially motivated group that creates tools and provides information for protecting yourself.
          </div>
          <p class="lead text-justify">Ghost Artemis went from being a toy to a project to becoming an small organization. With electronics often being a central part of our lives, we want to build a platform for a better future.</p>
          <p class="lead text-justify">I want to leave behind a better world. If I were to be reborn, I would want to have built a tree that provides the shade. Cybersecurity (and ultimately computer science) will pave that path for us.</p>
          <p class="lead text-justify">Security does so by allowing us to live in peace and comfort. It allows us to think and live in dignity. We can only do this when we are allowed to be different. Come build this world with me!</p>

          <h5><strong>The Ghosts</strong></h5>
          <div class="container">
            <div class="row">
              <div class="card" style="width: 14rem; margin-right: 10px">
                <div class="card-body">
                  <h5 class="card-title">Sif</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Builder</h6>
                  <a href="https://medium.com/@cassandriel" class="card-link">Medium</a>
                </div>
              </div>
              <div class="card" style="width: 14rem;">
                <div class="card-body">
                  <h5 class="card-title">Vignesh</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Collaborator</h6>
                  <a href="https://github.com/knoxrm" class="card-link">GitHub</a>
                </div>
              </div>
            </div>
          </div>

          <br />

          {% if random_quote %}
          <blockquote class="blockquote">
            <p class="mb-0">"{{ random_quote.quote }}"</p>
            <footer class="blockquote-footer">{{ random_quote.author }}</footer>
          </blockquote>
          {% endif %}
        </div>
{% endblock %}
