{% extends 'frontpage/base.html' %}

{% block content %}
      <div class="col-lg-10 mx-auto text-justify">
        <h3>Contact</h3>
        <p class="lead">We are at your service. Please feel free to email <a href="mailto:contact@ghostartemis.com">us</a>. We are open to feedback, advice, thoughts or ideas. You can also create an issue on <a href="https://github.com/sif/Ghost-Artemis/issues">GitHub</a>. You can also follow us on Twitter and chat with us in Discord.</p>
        <h6>Spread the word, copy and paste the URL and description to share</h6>
        <div class="alert alert-light border" role="alert">
          Ghost Artemis - Knowledge and tools to a better world - https://www.ghostartemis.com
        </div>
      </div>
{% endblock %}
