{% extends 'frontpage/base.html' %}

{% load static %}

{% block content %}
  <div class="top-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text">
          <h1 class="wow fadeInLeftBig">Your Security, Our Goal</h1>
          <div class="description wow fadeInLeftBig">
            <p>Ghost Artemis is a socially motivated group that creates tools and provides information for protecting yourself.</p>
          </div>
          <div class="top-big-link wow fadeInUp">
            <a class="btn btn-primary btn-link-1" href="https://www.ghostartemis.com/contact/">Contact Us</a>
            <!--<a class="btn btn-primary btn-link-2 scroll-link" href="#services">Learn more</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services-container section-container">
    <div class="container">
      <div class="row">
        <div class="col services section-description wow fadeIn">
          <h2>Services</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 wow fadeInUp">
          <div>
            <h3>Reconnaissance, Footprinting & Passive Scanning</h3>
            <ul>
              <li>Inventory of external infrastructure</li>
              <li>Topological map of the network</li>
              <li>Locating traffic routes, physical location, domain registry</li>
              <li>Identifying IPv6 use, IP block usage, ISP</li>
              <li>Scanning all 65536 ports with varied scans like XMAS, SYN, FIN, NULL, etc</li>
          </div>
        </div>
        <div class="col-md-4 wow fadeInDown">
          <div>
            <h3>Active Port Scans, Fingerprinting & Service Probing</h3>
            <ul>
              <li>Open/closed/half/filtered port lists</li>
              <li>Firewall on gateway interfaces, TCP sequence number prediction, IPID prediction</li>
              <li>Identifying hosted service on standard and non-standard ports</li>
              <li>Detecting service running on the open ports</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 wow fadeInUp">
          <div>
            <h3>Password Service Strength Testing</h3>
            <ul>
              <li>Brute-forcing logins of known services on standard or non-standard ports with custom password list of 5000 passwords</li>
              <li>Testing default passwords for known services</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-container section-container">
    <div class="container">
      <div class="row">
        <div class="col portfolio section-description wow fadeIn">
          <h2>Projects</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div style="text-align: center" class="col-md-4">
          <a href="#"><button style="width: 200px; margin: 30px" class="btn btn-primary btn-link-1">Malware Scanner</button></a>
        </div>
        <div style="text-align: center" class="col-md-4">
          <a href="#"><button style="width: 200px; margin: 30px" class="btn btn-primary btn-link-1">Privacy Tracker</button></a>
        </div>
        <div style="text-align: center" class="col-md-4">
          <a href="#"><button style="width: 200px; margin: 30px" class="btn btn-primary btn-link-1">Hunter</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-container section-container" id="news_section">
    <div class="container">
      <div class="row">
        <div class="col portfolio section-description wow fadeIn">
          <h2>Blog</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="card">
              <a id="o_a_link" href="#">
                <img class="card-img-top img-raised" src="{% static 'all/images/medium.jpeg' %}" alt="Blog 1">
              </a>
              <div class="card-body">
                <a id="o_c_a_link" href="#" class="card-title mb-2"><h5 id="o_c_h_text">A</h5></a>
                <p id="o_c_d_text" class="text-muted small-xl mb-2">XXX YY, ZZZZ</p>
                <p id="o_c_m_text" class="card-text">AAA <a id="o_c_p_link" href="#">See More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <a id="two_a_link" href="#">
                <img class="card-img-top img-raised" src="{% static 'all/images/medium.jpeg' %}" alt="Blog 2">
              </a>
              <div class="card-body">
                <a id="two_c_a_link" href="#" class="card-title mb-2"><h5 id="two_c_h_text">B</h5></a>
                <p id="two_c_d_text" class="text-muted small-xl mb-2">XXX YY, ZZZZ</p>
                <p id="two_c_m_text" class="card-text">BBB <a id="two_c_p_link" href="#">See More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <a id="three_a_link" href="#">
                  <img class="card-img-top img-raised" src="{% static 'all/images/medium.jpeg' %}" alt="Blog 3">
                </a>
                <div class="card-body">
                  <a id="three_c_a_link" href="#" class="card-title mb-2"><h5 id="three_c_h_text">C</h5></a>
                  <p id="three_c_d_text" class="text-muted small-xl mb-2">XXX YY, ZZZZ</p>
                  <p id="three_c_m_text" class="card-text">CCC <a id="three_c_p_link" href="#">See More</a></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us-container section-container section-container-gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7 about-us-box wow fadeInLeft">
          <div class="about-us-box-text">
            <h3>About Us</h3>
            <p>Ghost Artemis went from being a toy to a project to becoming an small organization. With electronics often being a central part of our lives, we want to build a platform for a better future.</p>
            <p>I want to leave behind a better world. If I were to be reborn, I would want to have built a tree that provides the shade. Cybersecurity (and ultimately computer science) will pave that path for us.</p>
            <p style="padding-bottom: 50px">Security does so by allowing us to live in peace and comfort. It allows us to think and live in dignity. We can only do this when we are allowed to be different. Come build this world with me!</p>
          </div>
        </div>
        <!--<div class="col-12 col-lg-5 about-us-box wow fadeInUp">
          <div class="about-us-box-img">

          </div>
        </div>-->
      </div>
      <div class="row">
        <div class="col-12 col-lg-7 wow fadeInLeft">
          <div class="about-us-box-text">
            <h3>The Ghosts</h3>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-md-3">
            <img src="{% static 'all/images/cassy.png' %}" class="img-fluid rounded d-block mx-auto" alt="Work 1"/>
            <div style="text-align: center" class="row mt-2">
              <div class="col-md-6 offset-md-3">Sif</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="color: #78909C !important;" class="col-md-6 offset-md-3">Builder</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="position: relative; z-index: 100;" class="col-md-6 offset-md-3">
                <a id="sif_link" href="https://github.com/sif" target="_blank">GitHub</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <img src="{% static 'all/images/v.png' %}" class="img-fluid rounded d-block mx-auto" alt="Work 1"/>
            <div style="text-align: center" class="row mt-2">
              <div class="col-md-6 offset-md-3">Vignesh</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="color: #78909C !important;" class="col-md-6 offset-md-3">Collaborator</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="position: relative; z-index: 100;" class="col-md-6 offset-md-3">
                <a id="sec_link" href="https://github.com/knoxrm" target="_blank">GitHub</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <img src="{% static 'all/images/ayush.png' %}" class="img-fluid rounded d-block mx-auto" alt="Work 1"/>
            <div style="text-align: center" class="row mt-2">
              <div class="col-md-6 offset-md-3">Ayush</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="color: #78909C !important;" class="col-md-6 offset-md-3">Collaborator</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="position: relative; z-index: 100;" class="col-md-6 offset-md-3">
                <a id="third_link" href="https://github.com/ayushbhat" target="_blank">GitHub</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <img src="{% static 'all/images/gabby.png' %}" class="img-fluid rounded d-block mx-auto" alt="Work 1"/>
            <div style="text-align: center" class="row mt-2">
              <div class="col-md-6 offset-md-3">Gabby</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="color: #78909C !important;" class="col-md-6 offset-md-3">Collaborator</div>
            </div>
            <div style="text-align: center" class="row">
              <div style="position: relative; z-index: 100;" class="col-md-6 offset-md-3">
                <a id="third_link" href="https://dribbble.com/gtaylor" target="_blank">Dribbble</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
