{% extends 'frontpage/base1.html' %}

{% block content %}
      <div class="col-lg-10 mx-auto text-justify">
        <h3>Privacy Policy</h3>

        <p>Last Updated: July 10, 2020</p>

        <p class="lead">What data do we collect?</p>
        <ul>
          <li>Name</li>
          <li>Email</li>
        </ul>

        <p class="lead">How do we collect your data?</p>
        <p>You directly provide Ghost Artemis with the data we collect. We collect data and process data when you:</p>
        <ul>
          <li>Register online for any of our services.</li>
        </ul>

        <p class="lead">How will we use your data?</p>
        <p>We will only use private information received for the following purposes:</p>
        <ul>
          <li>In order to provide our service.</li>
          <li>As determining data for improvement of this service or in addition of a new service.</li>
          <li>In order to grasp the usage situation of users and use them for improvement of this service and development of new services.</li>
          <li>In order to prevent usage violating the terms of use of this service.</li>
          <li>In order to gather statistical data on user's usage. In case of collecting such data, data shall be modified in order not to identify an individual.</li>
        </ul>

        <p class="lead">How do we store your data?</p>
        <p>Ghost Artemis securely stores your data at third party hosting facilities. Ghost Artemis will keep your data until you explicitly request them to be deleted.</p>

        <p class="lead">Minors</p>
        <p>Our Services are for users age 13 and over and we do not knowingly collect personal information from children under the age of 13. If you are a parent or guardian of a child under the age of 13 and believe he or she has disclosed personal information to us, please contact us.</p>

        <p class="lead">Marketing</p>
        <p>We do not distribute your data for marketing purposes.</p>

        <p class="lead">Cookies</p>
        <p>Cookies are text files placed on your computer to collect standard internet log information and visitor behavior information. When you visit our website, we may collect information from you automatically through cookies or similar technology. For further information, visit <a href="https://allaboutcookies.org">All About Cookies</a>.</p>

        <p class="lead">How do we use cookies?</p>
        <p>Ghost Artemis uses cookies in a range of ways to improve your experience on our website, including:</p>
        <ul>
          <li>Keeping you signed in</li>
          <li>Understanding how you use our website</li>
        </ul>

        <p class="lead">What type of cookies do we use?</p>
        <p>There are a number of different types of cookies, however, our website uses:</p>
        <ul>
          <li>Functionality - Ghost Artemis uses these cookies so that we recognize your login info on our website and remember your previously selected preferences.</li>
          <li>Performance - Ghost Artemis uses these cookies to improve our services.</li>
        </ul>

        <p class="lead">Managing Cookies</p>
        <p>You can set your browser to not accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

        <p class="lead">Privacy Policies of Other Websites</p>
        <p>Ghost Artemis contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

        <p class="lead">Changes to Our Privacy Policy</p>
        <p>We regularly review our privacy policy and place any updates on this page. This privacy policy was last updated at the date noted at the top of the page.</p>

        <p class="lead">Contact</p>
        <p>If you have any questions about Ghost Artemis's privacy policy, the data we hold on you, please do not hesitate to contact us.</p>
        <ul>
          <li>Email: contact@ghostartemis.com</li>
          <li>Discord: cassy#4365</li>
        </ul>
      </div>
{% endblock %}
